/* Reset default styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 50px;
  margin-bottom: 85px;

  display: flex;
}

.wrapper > * + * {
  margin-left: 40px;
}

.title {
  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
  color: #2e2f22;
}

.title--md {
  font-size: 20px;
  line-height: 30px;
}

.title--sm {
  font-size: 18px;
  line-height: 27px;
}

.title--light {
  color: #ffffff;
}

.btn {
  padding: 12px 57px;

  border: 1px solid #202117;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #202117;
}

/* Header */
.header {
  height: 581px;
  padding: 0 7.5em;

  background-image: url("../images/bg-header@1.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Navigation */
.menu {
  display: flex;
}

/* Logo */
.logo {
  flex-grow: 1.5;
}

/* Navigation menu */
.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.menu__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
  text-decoration: none;
}

/* Main */
.main {
  width: 90%;
  margin: 80px auto;
}

/* Articles */
.articles__header {
  display: flex;
  justify-content: space-between;
}

.articles__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.articles__item {
  width: 32%;
  flex-grow: 0;
  flex-shrink: 1;
}

.articles__item--lg {
  width: 49%;

  position: relative;
}

.articles__link {
  text-decoration: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  border-radius: 10px;
}

.card__title {
  margin: 27px 0 8px;
}

.card__text--lg {
  width: 70%;

  position: absolute;
  top: 60%;
  left: 15%;

  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}

.card__meta {
  margin: 12px 0 62px;
}

/* Meta */
.meta {
  display: flex;
  justify-content: space-between;

  color: rgba(46, 47, 34, 0.7);
}

.meta--lg {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);
}

.section__footer {
  margin-top: 104px;
  margin-bottom: 85px;
}

/* About */
/* Textblock */
.textblock {
  width: 50%;
}

.textblock > * + * {
  margin-top: 20px;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
}

.cite {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #2e2f22;
}

/* Portfolio */
.portfolio__list {
  display: flex;
  justify-content: space-between;
}

.portfolio__item {
  width: 33%;
  height: 525px;

  border-radius: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio__item--one {
  background-image: url("../images/portfolio-1.jpg");
}

.portfolio__item--two {
  background-image: url("../images/portfolio-2.jpg");
}

.portfolio__item--three {
  background-image: url("../images/portfolio-3.jpg");
}

.portfolio__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #2e2f22;
  text-decoration: none;
}

.portfolio__link--light {
  color: #ffffff;
}

.portfolio__pcard {
  margin-top: 140px;
}

.pcard__title {
  margin: 44px 0 17px;
}

/* Footer */
.footer {
  height: 180px;
  padding-top: 60px;

  display: flex;
  justify-content: center;
  background-color: #d7d1c9;
}

.list {
  width: 50%;

  display: flex;
  justify-content: space-between;
}

.list__link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
  text-decoration: none;
}
